@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
.header{
    display: flex;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-around;
    color: #F9FAF8;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Roboto',sans-serif;
}
.logo{
    display: flex;
    font-weight: bold;
}
a{
    text-decoration: none;
    color:#E5E7EB;
}
ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.content{
    display: flex;
    justify-content: space-evenly; 
    align-content: center;
    margin: 80px;
   
}
.button{
    max-width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: medium;
    border-style: solid;
    border-color:#1f2937;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Roboto',sans-serif;
    
}
.text{
    display: flex;
    flex-direction: column;
    width: 450px;
    font-family: 'Roboto',sans-serif;
    gap: 5px;
}
.mtext{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.stext{
    font-size: 18px;
    color: #F9FAF8;
}
.img{
    height: 200px;
    background: grey;
    width: 400px;

}


.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 100px;
}
.header2{
    display: flex;
    margin: 30px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}
.units{
    display: flex;
    gap: 40px;
}
.test{
    display: flex;
    flex-direction: column;
}
.text2{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 5px;
    border-radius: 10px;
    background-color: white;
}
.txtundimg{
    width: 150px;
    text-align: center;
    margin-top: 5px;
}


.third{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
.text3{
    margin: 100px;
    width: 820px;
    font-family: 'Roboto',sans-serif; 
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}
.author{
    margin-left: 610px;
    color: #1F2937;
    font-weight: 900;
}

.fourth{
    margin: 100px;
}

.cta{
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 50px;
    border-radius: 10px;
}
.text4{
    color: #F9FAF8;
    font-family: 'Roboto',sans-serif;
}
.button2{

    font-family: 'Roboto',sans-serif;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 5px;
    font-size: medium;
    border-style: solid;
    width: 130px;
    border-width: 3px;
    background-color: #3882F6;   
}
.htext{
    font-weight: bold;
    font-size: large;
}
.footer{
    background-color:#1F2937;
}
.ftext{
    padding: 40px;
    font-family: 'Roboto',sans-serif;
    color:#E5E7EB;
    text-align: center;
    font-size: large;
}